@charset "UTF-8";
.cell--table {
  table-layout: fixed;
  width: 100%;
}

.cell--table th {
  background: #319c4a;
  line-height: 26px;
  font-size: 18px;
}

.cell--table td {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.cell--table th,
.cell--table td {
  padding: 10px;
  border: 1px solid #000;
}

.cell--table tr {
  background: #d5ffc7;
}

.cell--table tr:nth-child(even) {
  background: #bcbcbc;
}

.cell--table tbody tr:last-child {
  border-top: 1px double #fff;
}