@charset "UTF-8";
/* 回答はここから */

.box-align {
  background: #fff;
  padding: 20px 0;
  width: 200px;
  font-size: 16px;
  display: inline-block;
}

.align {
  text-align: center;
}

.text-align {
  padding: 10px;
  background: #a4b3e9;
  display: inline-block;
}

.margin-center {
  width: 90px;
  background: #a4b3e9;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.table-box {
  display: table;
}

.table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table-center {
  background: #fff;
  padding: 10px;
  display: inline-block;
}

.flex-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center {
  background: #fff;
  padding: 10px;
}

.position-box {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  background: #a4b3e9;
  transform: translate(-50%, -50%);
}